atom/atom.symlink/.apm
atom/atom.symlink/.node-gyp
atom/atom.symlink/blob-store
atom/atom.symlink/compile-cache
atom/atom.symlink/dev
atom/atom.symlink/github.cson
atom/atom.symlink/nohup.out
atom/atom.symlink/packages
atom/atom.symlink/recovery
atom/atom.symlink/storage

gpg

home-manager/home-manager-configurations

sublime/projects/**/*.sublime-workspace
sublime/User/oscrypto-ca-bundle.crt
sublime/User/Package Control.*
!sublime/User/Package Control.sublime-settings
sublime/User/phpcs.sublime-settings

vscode/code-sync/local-settings.json
