[submodule "home-manager/home-manager-configurations"]
    path = home-manager/home-manager-configurations
    url = git@github.com:Gerschtli/home-manager-configurations.git

[submodule "liquidprompt/liquidprompt"]
    path = liquidprompt/liquidprompt
    url = https://github.com/nojhan/liquidprompt.git

[submodule "pure/pure"]
    path = pure/pure
    url = https://github.com/sindresorhus/pure.git

[submodule "tmux/tpm"]
    path = tmux/tpm
    url = https://github.com/tmux-plugins/tpm.git

[submodule "zsh/autosuggestions"]
    path = zsh/autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions.git

[submodule "zsh/zsh-completions"]
    path = zsh/zsh-completions
    url = https://github.com/zsh-users/zsh-completions.git
