#!/bin/bash
# only for syntax highlighting

## path to cache file for current symlinks
# CACHE_FILE="${HOME}/.dotfiles-cache"

## disable title for terminal
# DISABLE_TITLE=0

## folder of dotfiles installation
# DOTFILES_ROOT="${HOME}/.dotfiles"

## extended path
# EXTENDED_PATH=()

## explicitly enable modules
# MODULES=()

## options
# OPTIONS=()
