## path to cache file for current symlinks
# CACHE_FILE="${HOME}/.dotfiles-cache"

## folder of dotfiles installation
# DOTFILES_ROOT="${HOME}/.dotfiles"

## explicitly enable modules
# MODULES=()

## folder of projects
# PROJECTS="${HOME}/projects"
