"*":
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      autoVisibility: true
      showDirectoryColumn: true
    use: {}
  "atom-material-ui":
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      noTabMinWidth: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-package-deps":
    ignored: []
  autosave:
    enabled: true
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "command-palette":
    preserveLastSearch: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "Atom-Hack"
      "atom-language-rust"
      "autocomplete-hack"
      "autocomplete-racer"
      "disable-keybindings"
      "emmet"
      "ide-php"
      "language-gherkin"
      "language-hack"
      "language-puppet"
      "language-rust"
      "linter"
      "linter-eslint"
      "linter-php"
      "linter-rust"
      "rustfmt"
      "whitespace"
    ]
    excludeVcsIgnoredPaths: false
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "disable-keybindings":
    communityPackages: [
      "emmet"
    ]
    prefixKeys: [
      "tab"
    ]
  editor:
    fontFamily: "Fira Mono"
    fontSize: 9
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "enable-packages":
    optionalPackages: [
      "Atom-Hack"
      "atom-language-rust"
      "autocomplete-hack"
      "autocomplete-racer"
      "disable-keybindings"
      "emmet"
      "ide-php"
      "language-gherkin"
      "language-hack"
      "language-puppet"
      "language-rust"
      "linter-eslint"
      "linter-php"
      "linter-rust"
      "rustfmt"
    ]
    resetOnStart: false
  "exception-reporting":
    userId: "0e594558-5f6f-463c-aa6a-093b570dedde"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    prefillFromSelection: true
    preserveLastSearch: true
    searchAllPanes: true
  "linter-eslint":
    fixOnSave: true
  "linter-ui-default":
    panelHeight: 165
  "project-manager":
    alwaysOpenInSameWindow: true
    savePathsRelativeToHome: true
    sortBy: "last modified"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
