"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3d709da5-1bc8-4b43-bfcf-e36e5a2d6ea9"
    markdown:
      commonmark: true
    rust:
      beautify_on_save: true
    typescript:
      beautify_on_save: true
    xml:
      default_beautifier: "JS Beautify"
      indent_size: 4
      wrap_attributes_indent_size: 4
  "atom-material-ui":
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
      noTabMinWidth: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-package-deps":
    ignored: []
  autosave:
    enabled: true
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "command-palette":
    preserveLastSearch: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter-eslint"
      "spell-check"
      "whitespace"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      "*.pyc"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "disable-keybindings":
    communityPackages: [
      "emmet"
    ]
    prefixKeys: [
      "tab"
    ]
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 12
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "enable-packages":
    optionalPackages: [
      "linter-eslint"
    ]
    resetOnStart: false
  "exception-reporting":
    userId: "0e594558-5f6f-463c-aa6a-093b570dedde"
  "file-icons":
    defaultIconClass: "icon-file-text"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "fuzzy-finder":
    prefillFromSelection: true
    preserveLastSearch: true
    searchAllPanes: true
  "ide-python":
    pylsPlugins:
      pycodestyle:
        maxLineLength: 120
  "ide-rust": {}
  latex:
    cleanPatterns: [
      "**/*.aux.bak"
      "**/*.aux"
      "**/*.bcf"
      "**/*.blg"
      "**/*.dvi"
      "**/*.fdb_latexmk"
      "**/*.fls"
      "**/*.idx.bak"
      "**/*.idx"
      "**/*.ilg"
      "**/*.ind"
      "**/*.lof"
      "**/*.log"
      "**/*.lol"
      "**/*.lot"
      "**/*.nav"
      "**/*.out"
      "**/*.ps"
      "**/*.pyg"
      "**/*.snm"
      "**/*.toc"
      "/{output_dir}/sage-plots-for-{jobname}.tex"
      "/**/_minted-{jobname}"
      "/**/{jobname}.pdf"
      "/**/{jobname}.synctex.gz"
      "/missfont.log"
      "/texput.aux"
      "/texput.log"
    ]
    enableShellEscape: true
    outputDirectory: "build"
  "linter-eslint":
    autofix:
      fixOnSave: true
  "linter-less":
    strictUnits: true
  "linter-mypy":
    disallowAnyDecorated: false
    disallowAnyExpr: false
    disallowAnyUnimported: false
    disallowUntypedDecorators: false
    mypyIniFile: "$PROJECT_PATH/setup.cfg"
  "linter-spell":
    defaultLanguages: [
      "de_DE"
    ]
  "linter-tslint":
    fixOnSave: true
  "php-debug":
    noPackageInstallPrompt: [
      "atom-ide-ui"
    ]
    server:
      protocolDebugging: true
      redirectStderr: true
      redirectStdout: true
    showWelcome: false
  "project-manager":
    alwaysOpenInSameWindow: true
    savePathsRelativeToHome: true
    sortBy: "last modified"
  "python-isort":
    sortOnSave: true
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  "vim-modeline-filetypes":
    sh: "source.shell"
    sshconfig: "source.ssh-config"
    tmux: "source.tmux"
  welcome:
    showOnStartup: false
".latex.tex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
