packages: [
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "autocomplete"
  "badges"
  "busy-signal"
  "docblockr"
  "editorconfig"
  "file-icons"
  "git-blame"
  "goto-definition"
  "hyperclick"
  "intentions"
  "less-than-slash"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "manage-packages"
  "nix"
  "pdf-view"
  "pigments"
  "project-manager"
  "selection-highlight"
  "simple-align"
  "sort-lines"
  "Sublime-Style-Column-Selection"
  "vim-modeline"
]
