packages: [
  "atom-beautify"
  "Atom-Hack"
  "atom-ide-ui"
  "atom-material-syntax"
  "atom-material-ui"
  "autocomplete"
  "autocomplete-hack"
  "awesome-python-snippets"
  "badges"
  "busy-signal"
  "disable-keybindings"
  "docblock-python"
  "docblockr"
  "editorconfig"
  "emmet"
  "enable-packages"
  "file-icons"
  "git-blame"
  "goto-definition"
  "hyperclick"
  "ide-php"
  "ide-python"
  "ide-rust"
  "ide-vue"
  "intentions"
  "language-dot"
  "language-gherkin"
  "language-hack"
  "language-hjson"
  "language-ini"
  "language-jenkinsfile"
  "language-latex"
  "language-pug"
  "language-puppet"
  "language-rust"
  "language-tmux"
  "language-viml"
  "language-vue"
  "latex"
  "less-than-slash"
  "linter"
  "linter-eslint"
  "linter-less"
  "linter-lesshint"
  "linter-mypy"
  "linter-php"
  "linter-spell"
  "linter-spell-latex"
  "linter-ui-default"
  "manage-packages"
  "nix"
  "nuclide"
  "pdf-view"
  "project-manager"
  "selection-highlight"
  "simple-align"
  "sort-lines"
  "ssh-config"
  "Sublime-Style-Column-Selection"
  "vim-modeline"
]
