[
  {
    title: "bachelor-paper"
    paths: [
      "~/projects/bachelor-paper"
    ]
    enable_packages: [
      "language-dot"
      "language-latex"
      "latex"
      "linter-spell-latex"
      "linter-spell"
    ]
  }
  {
    title: "bachelor-project"
    paths: [
      "~/projects/bachelor-project"
    ]
    enable_packages: [
      "awesome-python-snippets"
      "docblock-python"
      "ide-python"
    ]
  }
  {
    title: "betting-game-backend"
    paths: [
      "~/projects/betting-game-backend"
    ]
    enable_packages: [
      "awesome-python-snippets"
      "docblock-python"
      "ide-python"
      "language-ini"
      "linter-mypy"
      "python-isort"
    ]
  }
  {
    title: "betting-game-frontend"
    paths: [
      "~/projects/betting-game-frontend"
    ]
    enable_packages: [
      "ide-vue"
      "language-pug"
      "language-vue"
      "linter-tslint"
    ]
  }
  {
    title: "dont-fall-crew-backend"
    paths: [
      "~/projects/dont-fall-crew-backend"
    ]
    enable_packages: [
      "awesome-python-snippets"
      "docblock-python"
      "ide-python"
      "language-ini"
    ]
  }
  {
    title: "dont-fall-crew-frontend"
    paths: [
      "~/projects/dont-fall-crew-frontend"
    ]
    enable_packages: [
      "ide-vue"
      "language-pug"
      "language-vue"
      "linter-eslint"
    ]
  }
  {
    title: "dotfiles"
    paths: [
      "~/.dotfiles"
    ]
    enable_packages: [
      "language-ini"
      "language-tmux"
      "language-viml"
      "ssh-config"
    ]
  }
  {
    title: "dwm-status"
    paths: [
      "~/projects/dwm-status"
    ]
    enable_packages: [
      "ide-rust"
      "language-hjson"
      "language-rust"
    ]
  }
  {
    title: "enable-packages"
    paths: [
      "~/projects/enable-packages"
    ]
    devMode: true
    enable_packages: [
      "linter-eslint"
    ]
  }
  {
    title: "git-hooks"
    paths: [
      "~/projects/git-hooks"
    ]
    enable_packages: [
      "ide-rust"
      "language-hjson"
      "language-rust"
    ]
  }
  {
    title: "hamcrest2-rust"
    paths: [
      "~/projects/hamcrest2-rust"
    ]
    enable_packages: [
      "ide-rust"
      "language-rust"
    ]
  }
  {
    title: "manage-packages"
    paths: [
      "~/projects/manage-packages"
    ]
    devMode: true
    enable_packages: [
      "linter-eslint"
    ]
  }
  {
    title: "mocktopus"
    paths: [
      "~/projects/mocktopus"
    ]
    enable_packages: [
      "ide-rust"
      "language-rust"
    ]
  }
  {
    title: "nixpkgs"
    paths: [
      "~/projects/nixpkgs"
    ]
  }
  {
    title: "plc-hack"
    paths: [
      "~/projects/plc-web-hack"
    ]
    enable_packages: [
      "Atom-Hack"
      "autocomplete-hack"
      "language-hack"
    ]
  }
  {
    title: "sbb-statute"
    paths: [
      "~/projects/sbb-statute"
    ]
    enable_packages: [
      "language-latex"
      "latex"
      "linter-spell-latex"
      "linter-spell"
    ]
  }
  {
    title: "serversetup"
    paths: [
      "~/projects/serversetup"
    ]
  }
  {
    title: "teamspeak-update-notifier"
    paths: [
      "~/projects/teamspeak-update-notifier"
    ]
    enable_packages: [
      "awesome-python-snippets"
      "docblock-python"
      "ide-python"
      "language-ini"
      "linter-mypy"
      "python-isort"
    ]
  }
  {
    title: "admin"
    group: "pveu"
    paths: [
      "~/projects/pveu/admin"
    ]
    enable_packages: [
      "disable-keybindings"
      "emmet"
      "ide-php"
      "language-puppet"
      "linter-php"
      "php-twig"
    ]
  }
  {
    title: "ansible"
    group: "pveu"
    paths: [
      "~/projects/pveu/ansible"
    ]
    enable_packages: [
    ]
  }
  {
    title: "backend"
    group: "pveu"
    paths: [
      "~/projects/pveu/backend"
    ]
    enable_packages: [
      # "atom-debug-ui"
      "ide-php"
      "language-ini"
      "language-jenkinsfile"
      "language-puppet"
      "linter-php"
      # "php-debug"
    ]
    # settings:
    #   "php-debug":
    #     xdebug:
    #       pathMaps: "[{\"remotePath\":\"/var/www/htdocs/\",\"localPath\":\"/home/tobi/projects/pveu/backend/\"}]"
  }
  {
    title: "behat"
    group: "pveu"
    paths: [
      "~/projects/pveu/behat"
    ]
    enable_packages: [
      "ide-php"
      "language-gherkin"
      "linter-php"
    ]
  }
  {
    title: "documentation"
    group: "pveu"
    paths: [
      "~/projects/pveu/documentation"
    ]
  }
  {
    title: "frontend"
    group: "pveu"
    paths: [
      "~/projects/pveu/frontend"
    ]
    enable_packages: [
      "atom-debug-ui"
      "disable-keybindings"
      "emmet"
      "ide-php"
      "language-ini"
      "language-puppet"
      "linter-eslint"
      "linter-php"
      "php-debug"
    ]
    settings:
      "php-debug":
        xdebug:
          pathMaps: "[{\"remotePath\":\"/var/www/htdocs/\",\"localPath\":\"/home/tobi/projects/pveu/frontend/\"}]"
  }
  {
    title: "integration-test"
    group: "pveu"
    paths: [
      "~/projects/pveu/integration-test"
    ]
    enable_packages: [
      "language-docker"
      "language-jenkinsfile"
      "linter-eslint"
    ]
  }
  {
    title: "library"
    group: "pveu"
    paths: [
      "~/projects/pveu/library"
    ]
    enable_packages: [
      "ide-php"
      "language-jenkinsfile"
      "linter-php"
    ]
  }
  {
    title: "liquibase"
    group: "pveu"
    paths: [
      "~/projects/pveu/liquibase"
    ]
    enable_packages: [
      "language-jenkinsfile"
    ]
  }
  {
    title: "preisvergleich-update"
    group: "pveu"
    paths: [
      "~/projects/pveu/preisvergleich-update"
    ]
    enable_packages: [
      "ide-php"
      "language-ini"
      "linter-php"
    ]
  }
  {
    title: "profitmax"
    group: "pveu"
    paths: [
      "~/projects/pveu/profitmax"
    ]
    enable_packages: [
      "disable-keybindings"
      "emmet"
      "ide-php"
      "language-ini"
      "language-puppet"
      "linter-php"
    ]
  }
  {
    title: "timebutler-extension"
    group: "pveu"
    paths: [
      "~/projects/pveu/timebutler-extension"
    ]
    enable_packages: [
      "linter-eslint"
    ]
  }
  {
    title: "utils"
    group: "pveu"
    paths: [
      "~/projects/pveu/utils"
    ]
  }
  {
    title: "zendframework1"
    group: "pveu"
    paths: [
      "~/projects/pveu/zendframework1"
    ]
    enable_packages: [
      "ide-php"
      "language-ini"
      "linter-php"
    ]
  }
]
