[
  {
    title: "dotfiles"
    paths: [
      "~/.dotfiles"
    ]
  }
  {
    title: "dwm-status"
    paths: [
      "~/projects/dwm-status"
    ]
  }
  {
    title: "plc-hack"
    paths: [
      "~/projects/plc-web-hack"
    ]
  }
  {
    title: "backend"
    group: "profitmax"
    paths: [
      "~/projects/profitmax/backend"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.5
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "behat"
    group: "profitmax"
    paths: [
      "~/projects/profitmax/behat"
    ]
  }
  {
    title: "frontend"
    group: "profitmax"
    paths: [
      "~/projects/profitmax/frontend"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.5
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "library"
    group: "profitmax"
    paths: [
      "~/projects/profitmax/library"
    ]
    php:
      enabled: true
      php_integrator:
        enabled: true
        phpVersion: 5.5
        excludedPaths: []
        fileExtensions: [
          "php"
        ]
  }
  {
    title: "profitmax"
    group: "profitmax"
    paths: [
      "~/projects/profitmax/profitmax"
    ]
  }
]
